/*                                *\
    header section style........
\*                                */

header{
  background-color: #D43790;
}
ul{

  list-style-type: none;
}
ul li{

  display: inline-block;
  margin-right: 5px;

}
ul li span{
  padding-right: 5px;
  color: white;
}
ul li a{
  border-right: 2px white;
  color: white;
  text-decoration: none;
}

ul li a:hover{
  color: #eee;
  text-decoration: none;

}
header .links{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
}
/*                                *\
    logo section style..........
\*                                */
.logo{
  height: 250px;
}
/*                                *\
    logo section style..........
\*                                */
.menu{
  font-family: "Adobe Garamond Pro Bold";
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

.menu ul{
  justify-content: space-around;
  list-style-type: none;
}
.menu ul li{
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  margin-right: 50px;

}
.menu ul li span{
  padding-right: 5px;
  color: white;
}
.menu ul li a{
  border-right: 2px white;
  color: white;
  text-decoration: none;
}

.shopping-cart{
  border-radius: 5px;
  color: dimgray;
  position: absolute;
  background-color: #eeeeee;
  width: 20%;
  right: 0;
  margin-right: 20px;
  transition: .5s linear;
}

.shopping-cart .row{
  margin: 15px 5px 15px 5px;
  padding-bottom: 5px;
  display: flex;
  border-bottom: 1px solid;
  justify-content: space-evenly;
}
.shopping-cart .row:hover{
  margin: 15px 5px 15px 5px;
  padding-bottom: 5px;
  display: flex;
  border-bottom: 1px solid;
  justify-content: space-evenly;
}


.shopping-cart .row h5{


}
.btn-check-out{
  margin: 5px 5px 5px 5px;
  background-color: #D43790;
  border: none;
  width: 95%;
  height: 35px;
  font-weight: bold;
  border-radius: 5px;
}
