<header>
  <section class="links">
    <div>
      <ul>
        <li></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><span><i class="bi bi-people-fill"></i></span><a href="#">Login</a><span> |</span></li>
        <li><span><i class="bi bi-send-fill"></i></span><a href="#">Registration</a><span> |</span></li>
        <li><span><i class="bi bi-cart-check-fill"></i></span><a href="#">My Cart</a><span> |</span></li>
        <li><span><i class="bi bi-envelope-check-fill"></i></span><a href="#">Message</a></li>
      </ul>
    </div>
  </section>
  <section class="logo">
    <img src="assets/banner.jpg" alt="">
  </section>
  <section class="menu">
    <div class="left">
      <ul>
        <li ><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">All Products</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="right">

    </div>
  </section>
</header>
