<div class="single-product">
    <div class="image">
      <img src="assets/item-1.png" alt="" width="400px">
    </div>
    <div class="details">
      <section><h3>Name : ROG STRIX G15 </h3></section>
      <section><h3>R7-5800H|16GB|1TB|RTX 3050Ti </h3></section>
      <section><h3>Item Code : BLA1381</h3></section>
      <section><h3>Rs. 474,900.00</h3></section>
      <section><h3>Cash Price : Rs. 429,000.00</h3></section>
      <section><h3>Details : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquam animi atque culpa debitis dolor earum enim harum incidunt ipsa modi mollitia possimus quam quia sed sunt, voluptate voluptates.</h3></section>
    </div>
  <div class="buy">
    <section class="increment-options">
      <button class="increment">-</button>
      <input type="text">
      <button class="increment">+</button>
    </section>
    <section><button class="btn-buy">Buy</button></section>
  </div>
</div>

