<div class="check-out">
  <div class="product-list">
    <section class="title"><h2>Your Total Bill : </h2></section>
    <section><p class="static-details">Name :</p><p class="non-static-details">Jhon</p></section>
    <section><p class="static-details">Discount :</p><p class="non-static-details">Rs : 2500</p></section>
    <section><p class="static-details">Total Amount :</p><p class="non-static-details">Rs : 10000</p></section>

  </div>
  <div class="customer-info">
    <section class="title"><h2>Customer Details : </h2></section>
    <section><label>Customer First Name</label><input type="text" ></section>
    <section><label>Customer Last Name</label><input type="text"></section>
    <section><label>Customer Address</label><input type="text" ></section>
    <section><label>Customer Mobile</label><input type="text" ></section>
    <section><label>Customer Postal Code</label><input type="text" ></section>
    <section><button class="btn">Submit</button></section>
  </div>
  <div class="payment-info">
    <section class="title"><h2>Payment Details : </h2></section>
    <section><label>Customer First Name</label><input type="text" ></section>
    <section><label>Customer Last Name</label><input type="text"></section>
    <section><label>Customer Address</label><input type="text"></section>
    <section><label>Customer Mobile</label><input type="text" ></section>
    <section><label>Customer Postal Code</label><input type="text" ></section>

    <section><button class="btn">Submit</button></section>
  </div>
</div>
