<div class="products">
  <table class="table">
  <tr>
      <th>#</th>
      <th>Image</th>
      <th>Product Name</th>
      <th>Details</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Total</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>01</td>
      <td>Riuniti</td>
      <td>Alimentari Riuniti</td>
      <td>consists of table cells inside rows and columns.</td>
      <td>2</td>
      <td>Rs : 200.00</td>
      <td>Rs : 400.00</td>
      <td>
        <button style="background-color: #c6d34f"><i class="bi bi-plus-circle-fill"></i></button>
        <button style="background-color: #42b99b"><i class="bi bi-dash-circle-fill"></i></button>
        <button style="background-color: #c7323b"><i class="bi bi-x-circle-fill"></i></button>
      </td>
    </tr>

    <tr>
      <td>01</td>
      <td>Riuniti</td>
      <td>Alimentari Riuniti</td>
      <td>consists of table cells inside rows and columns.</td>
      <td>2</td>
      <td>Rs : 200.00</td>
      <td>Rs : 400.00</td>
      <td>
        <button style="background-color: #c6d34f"><i class="bi bi-plus-circle-fill"></i></button>
        <button style="background-color: #42b99b"><i class="bi bi-dash-circle-fill"></i></button>
        <button style="background-color: #c7323b"><i class="bi bi-x-circle-fill"></i></button>
      </td>
    </tr>

    <tr>
      <td>01</td>
      <td>Riuniti</td>
      <td>Alimentari Riuniti</td>
      <td>consists of table cells inside rows and columns.</td>
      <td>2</td>
      <td>Rs : 200.00</td>
      <td>Rs : 400.00</td>
      <td>
        <button style="background-color: #c6d34f"><i class="bi bi-plus-circle-fill"></i></button>
        <button style="background-color: #42b99b"><i class="bi bi-dash-circle-fill"></i></button>
        <button style="background-color: #c7323b"><i class="bi bi-x-circle-fill"></i></button>
      </td>
    </tr>

    <tr>
      <td>01</td>
      <td>Riuniti</td>
      <td>Alimentari Riuniti</td>
      <td>consists of table cells inside rows and columns.</td>
      <td>2</td>
      <td>Rs : 200.00</td>
      <td>Rs : 400.00</td>
      <td>
        <button style="background-color: #c6d34f"><i class="bi bi-plus-circle-fill"></i></button>
        <button style="background-color: #42b99b"><i class="bi bi-dash-circle-fill"></i></button>
        <button style="background-color: #c7323b"><i class="bi bi-x-circle-fill"></i></button>
      </td>
    </tr>

    <tr>
      <td>01</td>
      <td>Riuniti</td>
      <td>Alimentari Riuniti</td>
      <td>consists of table cells inside rows and columns.</td>
      <td>2</td>
      <td>Rs : 200.00</td>
      <td>Rs : 400.00</td>
      <td>
        <button style="background-color: #c6d34f"><i class="bi bi-plus-circle-fill"></i></button>
        <button style="background-color: #42b99b"><i class="bi bi-dash-circle-fill"></i></button>
        <button style="background-color: #c7323b"><i class="bi bi-x-circle-fill"></i></button>
      </td>
    </tr>

    <tr>
      <td>01</td>
      <td>Riuniti</td>
      <td>Alimentari Riuniti</td>
      <td>consists of table cells inside rows and columns.</td>
      <td>2</td>
      <td>Rs : 200.00</td>
      <td>Rs : 400.00</td>
      <td>
        <button style="background-color: #c6d34f"><i class="bi bi-plus-circle-fill"></i></button>
        <button style="background-color: #42b99b"><i class="bi bi-dash-circle-fill"></i></button>
        <button style="background-color: #c7323b"><i class="bi bi-x-circle-fill"></i></button>
      </td>
    </tr>

    <tr>
      <td>01</td>
      <td>Riuniti</td>
      <td>Alimentari Riuniti</td>
      <td>consists of table cells inside rows and columns.</td>
      <td>2</td>
      <td>Rs : 200.00</td>
      <td>Rs : 400.00</td>
      <td>
        <button style="background-color: #c6d34f"><i class="bi bi-plus-circle-fill"></i></button>
        <button style="background-color: #42b99b"><i class="bi bi-dash-circle-fill"></i></button>
        <button style="background-color: #c7323b"><i class="bi bi-x-circle-fill"></i></button>
      </td>
    </tr>




  </table>
</div>

<div class="check-out">
  <div class="product-list">
    <section class="title"><h2>Your Total Bill : </h2></section>
    <section><p class="static-details">Name :</p><p class="non-static-details">Jhon</p></section>
    <section><p class="static-details">Discount :</p><p class="non-static-details">Rs : 2500</p></section>
    <section><p class="static-details">Total Amount :</p><p class="non-static-details">Rs : 10000</p></section>
  </div>
  <div class="customer-info">
    <section class="title"><h2>Customer Details : </h2></section>
    <section><label>Customer First Name</label><input type="text" ></section>
    <section><label>Customer Last Name</label><input type="text"></section>
    <section><label>Customer Address</label><input type="text" ></section>
    <section><label>Customer Mobile</label><input type="text" ></section>
    <section><button class="btn">Submit</button></section>
  </div>
  <div class="payment-info">
    <section class="title"><h2>Payment Details : </h2></section>
    <section><label>Card Number</label><input type="text" ></section>
    <section><label>Card Code</label><input type="text"></section>
    <section><label>Card E : Date</label><input type="text"></section>
    <section><button class="btn">Submit</button></section>
  </div>
</div>
