<div class="title"><h2>All Products</h2></div>
<div class="category">
  <section>
    <ul>
      <div class="item">
        <div class="left"><i class="bi bi-telephone-plus-fill"></i></div>
        <div class="right">Right</div>
      </div>

      <div class="item">
        <div class="left"><i class="bi bi-telephone-plus-fill"></i></div>
        <div class="right">Right</div>
      </div>

      <div class="item">
        <div class="left"><i class="bi bi-telephone-plus-fill"></i></div>
        <div class="right">Right</div>
      </div>

      <div class="item">
        <div class="left"><i class="bi bi-telephone-plus-fill"></i></div>
        <div class="right">Right</div>
      </div>

      <div class="item">
        <div class="left"><i class="bi bi-telephone-plus-fill"></i></div>
        <div class="right">Right</div>
      </div>

      <div class="item">
        <div class="left"><i class="bi bi-telephone-plus-fill"></i></div>
        <div class="right">Right</div>
      </div>

      <div class="item">
        <div class="left"><i class="bi bi-telephone-plus-fill"></i></div>
        <div class="right">Right</div>
      </div>
    </ul>
  </section>
</div>
<div class="products">
    <div class="items">

      <div class="item">
        <section class="item-name"><p>MacBook </p></section>
        <section class="img"><img src="assets/item-1.png" alt="" width="220px" ></section>
        <section><h6>ROG STRIX G15 </h6></section>
        <section><h6>R7-5800H|16GB|1TB|RTX 3050Ti </h6></section>
        <section><h5>Item Code : BLA1381</h5></section>
        <section><p>Rs. 474,900.00</p></section>
        <section><p>Cash Price : Rs. 429,000.00</p></section>
        <section class="btn"><button class="btn-cart">Add To Cart</button><button class="btn-view">View More>></button></section>
        <section class="btn"><button class="btn-buy">Buy Now</button></section>
      </div>

      <div class="item">
        <section class="item-name"><p>MacBook </p></section>
        <section class="img"><img src="assets/item-1.png" alt="" width="220px" ></section>
        <section><h6>ROG STRIX G15 </h6></section>
        <section><h6>R7-5800H|16GB|1TB|RTX 3050Ti </h6></section>
        <section><h5>Item Code : BLA1381</h5></section>
        <section><p>Rs. 474,900.00</p></section>
        <section><p>Cash Price : Rs. 429,000.00</p></section>
        <section class="btn"><button class="btn-cart">Add To Cart</button><button class="btn-view">View More>></button></section>
        <section class="btn"><button class="btn-buy">Buy Now</button></section>
      </div>
      <div class="item">
        <section class="item-name"><p>MacBook </p></section>
        <section class="img"><img src="assets/item-1.png" alt="" width="220px" ></section>
        <section><h6>ROG STRIX G15 </h6></section>
        <section><h6>R7-5800H|16GB|1TB|RTX 3050Ti </h6></section>
        <section><h5>Item Code : BLA1381</h5></section>
        <section><p>Rs. 474,900.00</p></section>
        <section><p>Cash Price : Rs. 429,000.00</p></section>
        <section class="btn"><button class="btn-cart">Add To Cart</button><button class="btn-view">View More>></button></section>
        <section class="btn"><button class="btn-buy">Buy Now</button></section>
      </div>
      <div class="item">
        <section class="item-name"><p>MacBook </p></section>
        <section class="img"><img src="assets/item-1.png" alt="" width="220px" ></section>
        <section><h6>ROG STRIX G15 </h6></section>
        <section><h6>R7-5800H|16GB|1TB|RTX 3050Ti </h6></section>
        <section><h5>Item Code : BLA1381</h5></section>
        <section><p>Rs. 474,900.00</p></section>
        <section><p>Cash Price : Rs. 429,000.00</p></section>
        <section class="btn"><button class="btn-cart">Add To Cart</button><button class="btn-view">View More>></button></section>
        <section class="btn"><button class="btn-buy">Buy Now</button></section>
      </div>
      <div class="item">
        <section class="item-name"><p>MacBook </p></section>
        <section class="img"><img src="assets/item-1.png" alt="" width="220px" ></section>
        <section><h6>ROG STRIX G15 </h6></section>
        <section><h6>R7-5800H|16GB|1TB|RTX 3050Ti </h6></section>
        <section><h5>Item Code : BLA1381</h5></section>
        <section><p>Rs. 474,900.00</p></section>
        <section><p>Cash Price : Rs. 429,000.00</p></section>
        <section class="btn"><button class="btn-cart">Add To Cart</button><button class="btn-view">View More>></button></section>
        <section class="btn"><button class="btn-buy">Buy Now</button></section>
      </div>


      <div class="item">
        <section class="item-name"><p>MacBook </p></section>
        <section class="img"><img src="assets/item-1.png" alt="" width="220px" ></section>
        <section><h6>ROG STRIX G15 </h6></section>
        <section><h6>R7-5800H|16GB|1TB|RTX 3050Ti </h6></section>
        <section><h5>Item Code : BLA1381</h5></section>
        <section><p>Rs. 474,900.00</p></section>
        <section><p>Cash Price : Rs. 429,000.00</p></section>
        <section class="btn"><button class="btn-cart">Add To Cart</button><button class="btn-view">View More>></button></section>
        <section class="btn"><button class="btn-buy">Buy Now</button></section>
      </div>

      <div class="item">
        <section class="item-name"><p>MacBook </p></section>
        <section class="img"><img src="assets/item-1.png" alt="" width="220px" ></section>
        <section><h6>ROG STRIX G15 </h6></section>
        <section><h6>R7-5800H|16GB|1TB|RTX 3050Ti </h6></section>
        <section><h5>Item Code : BLA1381</h5></section>
        <section><p>Rs. 474,900.00</p></section>
        <section><p>Cash Price : Rs. 429,000.00</p></section>
        <section class="btn"><button class="btn-cart">Add To Cart</button><button class="btn-view">View More>></button></section>
        <section class="btn"><button class="btn-buy">Buy Now</button></section>
      </div>

      <div class="item">
        <section class="item-name"><p>MacBook </p></section>
        <section class="img"><img src="assets/item-1.png" alt="" width="220px" ></section>
        <section><h6>ROG STRIX G15 </h6></section>
        <section><h6>R7-5800H|16GB|1TB|RTX 3050Ti </h6></section>
        <section><h5>Item Code : BLA1381</h5></section>
        <section><p>Rs. 474,900.00</p></section>
        <section><p>Cash Price : Rs. 429,000.00</p></section>
        <section class="btn"><button class="btn-cart">Add To Cart</button><button class="btn-view">View More>></button></section>
        <section class="btn"><button class="btn-buy">Buy Now</button></section>
      </div>

      <div class="item">
        <section class="item-name"><p>MacBook </p></section>
        <section class="img"><img src="assets/item-1.png" alt="" width="220px" ></section>
        <section><h6>ROG STRIX G15 </h6></section>
        <section><h6>R7-5800H|16GB|1TB|RTX 3050Ti </h6></section>
        <section><h5>Item Code : BLA1381</h5></section>
        <section><p>Rs. 474,900.00</p></section>
        <section><p>Cash Price : Rs. 429,000.00</p></section>
        <section class="btn"><button class="btn-cart">Add To Cart</button><button class="btn-view">View More>></button></section>
        <section class="btn"><button class="btn-buy">Buy Now</button></section>
      </div>

      <div class="item">
        <section class="item-name"><p>MacBook </p></section>
        <section class="img"><img src="assets/item-1.png" alt="" width="220px" ></section>
        <section><h6>ROG STRIX G15 </h6></section>
        <section><h6>R7-5800H|16GB|1TB|RTX 3050Ti </h6></section>
        <section><h5>Item Code : BLA1381</h5></section>
        <section><p>Rs. 474,900.00</p></section>
        <section><p>Cash Price : Rs. 429,000.00</p></section>
        <section class="btn"><button class="btn-cart">Add To Cart</button><button class="btn-view">View More>></button></section>
        <section class="btn"><button class="btn-buy">Buy Now</button></section>
      </div>

      <div class="item">
        <section class="item-name"><p>MacBook </p></section>
        <section class="img"><img src="assets/item-1.png" alt="" width="220px" ></section>
        <section><h6>ROG STRIX G15 </h6></section>
        <section><h6>R7-5800H|16GB|1TB|RTX 3050Ti </h6></section>
        <section><h5>Item Code : BLA1381</h5></section>
        <section><p>Rs. 474,900.00</p></section>
        <section><p>Cash Price : Rs. 429,000.00</p></section>
        <section class="btn"><button class="btn-cart">Add To Cart</button><button class="btn-view">View More>></button></section>
        <section class="btn"><button class="btn-buy">Buy Now</button></section>
      </div>
      <div class="item">
        <section class="item-name"><p>MacBook </p></section>
        <section class="img"><img src="assets/item-1.png" alt="" width="220px" ></section>
        <section><h6>ROG STRIX G15 </h6></section>
        <section><h6>R7-5800H|16GB|1TB|RTX 3050Ti </h6></section>
        <section><h5>Item Code : BLA1381</h5></section>
        <section><p>Rs. 474,900.00</p></section>
        <section><p>Cash Price : Rs. 429,000.00</p></section>
        <section class="btn"><button class="btn-cart">Add To Cart</button><button class="btn-view">View More>></button></section>
        <section class="btn"><button class="btn-buy">Buy Now</button></section>
      </div>

      <div class="item">
        <section class="item-name"><p>MacBook </p></section>
        <section class="img"><img src="assets/item-1.png" alt="" width="220px" ></section>
        <section><h6>ROG STRIX G15 </h6></section>
        <section><h6>R7-5800H|16GB|1TB|RTX 3050Ti </h6></section>
        <section><h5>Item Code : BLA1381</h5></section>
        <section><p>Rs. 474,900.00</p></section>
        <section><p>Cash Price : Rs. 429,000.00</p></section>
        <section class="btn"><button class="btn-cart">Add To Cart</button><button class="btn-view">View More>></button></section>
        <section class="btn"><button class="btn-buy">Buy Now</button></section>
      </div>

      <div class="item">
        <section class="item-name"><p>MacBook </p></section>
        <section class="img"><img src="assets/item-1.png" alt="" width="220px" ></section>
        <section><h6>ROG STRIX G15 </h6></section>
        <section><h6>R7-5800H|16GB|1TB|RTX 3050Ti </h6></section>
        <section><h5>Item Code : BLA1381</h5></section>
        <section><p>Rs. 474,900.00</p></section>
        <section><p>Cash Price : Rs. 429,000.00</p></section>
        <section class="btn"><button class="btn-cart">Add To Cart</button><button class="btn-view">View More>></button></section>
        <section class="btn"><button class="btn-buy">Buy Now</button></section>
      </div>

      <div class="item">
        <section class="item-name"><p>MacBook </p></section>
        <section class="img"><img src="assets/item-1.png" alt="" width="220px" ></section>
        <section><h6>ROG STRIX G15 </h6></section>
        <section><h6>R7-5800H|16GB|1TB|RTX 3050Ti </h6></section>
        <section><h5>Item Code : BLA1381</h5></section>
        <section><p>Rs. 474,900.00</p></section>
        <section><p>Cash Price : Rs. 429,000.00</p></section>
        <section class="btn"><button class="btn-cart">Add To Cart</button><button class="btn-view">View More>></button></section>
        <section class="btn"><button class="btn-buy">Buy Now</button></section>
      </div>




    </div>
</div>
